@import "tailwindcss"; /*  importing tailwind */
/* importing inter font from google fonts 👇 */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* extending the tailwind lib */
@theme {
  --color-primary: #4caf4f;
  --color-dark: #263238;
  --font-inter: "Inter", sans-serif;
}

/* general styles for each section */
@utility container {
  margin-inline: auto;
  padding: 2rem;
}

/* default font family */
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    font-family: var(--font-inter);
    color: var(--color-dark);
  }
  p {
    font-size: 14px;
  }
}

/* reusable classes */
.menu-btn {
  @apply capitalize hover:text-primary hover:text-xl hover:font-bold duration-300 transition-all font-inter;
}
.btn {
  @apply capitalize cursor-pointer text-white py-2 px-4 bg-primary rounded font-inter;
}
.icons {
  @apply p-2 rounded-full flex items-center justify-center cursor-pointer bg-[rgba(98,105,109,0.4)];
}
.readmore {
  @apply bg-white text-center w-[285px] flex flex-col gap-5 -mt-20 p-3 rounded-xl items-center text-xl shadow-lg;
}
.footerLinks {
  @apply capitalize text-white/70 hover:text-white duration-100 transition-all;
}
